<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/shopping-cart/breadcrumb', { currentPage: 'Shopping Cart' }) %>

    <%- include('./partials/shopping-cart/cart-table') %>

    <%- include('./partials/shopping-cart/footer') %>
    <!-- Js Plugins -->
    <%- include('./partials/script') %>
  </body>
</html>
